<label>Server Name</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<!-- <input -->
  <!-- type="text" -->
  <!-- class="form-control" -->
  <!-- [(ngModel)]="serverName"> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!-- <p>{{allowNewServer}}</p> -->
<p [innerText]="allowNewServer"></p>
<!-- You may also call a method between the  "" -->
<p>{{serverCreationStatus}}</p>
<p *ngIf="serverCreated; else noServer">A server was created.  It's name is {{ serverName }}.</p>
<ng-template #noServer>
  <p>A server has not yet been created.</p>
</ng-template>
<!-- <app-server></app-server> -->
<!-- <app-username></app-username> -->
